body{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-family: 'Inter';
  color: white;
}

#root{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterMedium';
  src: url('src/assets/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'InterSemi';
  src: url('src/assets/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: url('src/assets/Inter-Bold.ttf') format('truetype');
}